<div class="container my-5">
  <div class="row">
    <!-- Cột hiển thị sản phẩm -->
    <div class="col-lg-9 col-xl-8 offset-xl-2 col-md-12">
      <div class="real-estate-projects mb-3">
        <div class="row">
          <!-- Kiểm tra nếu có dữ liệu -->
          <ng-container *ngIf="items.length > 0; else noData">
            <ng-container *ngFor="let product of items">
              <!-- Thêm class & wrapper đẹp mắt -->
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="product-wrapper">
                  <div [product]="product" class="product-item"></div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div><!-- End .row -->

        <!-- Nếu không có dữ liệu -->
        <ng-template #noData>
          <div class="col-12 text-center">
            <h5 class="text-muted">Không có dữ liệu dự án</h5>
          </div>
        </ng-template>

        <!-- Phân trang -->
        <div class="pagination-container">
          <app-paging (handelChangePage)="handlePageEvent($event)" [pageSize]="len" [length]="total"></app-paging>
        </div>
      </div>
    </div>
  </div>
</div>
