
  <div class="project-card">
    <img [src]="apiUrl + '/' + product.img" alt="Project Image" class="img-fluid">
    <div class="project-info">
      <h5 class="project-title">{{ product.name }}</h5>
      <!-- Địa điểm với icon -->
      <p class="project-location">
        <i class="fas fa-map-marker-alt text-primary me-2"></i>
        {{ product.location }}
      </p>
      <!-- Thời gian cập nhật -->
      <p class="project-update-time">
        <i class="fas fa-clock text-secondary me-2"></i>
         {{getUpdateTimeMessage(product.createdAt)}}
      </p>
      <button class="btn btn-primary" (click)="handleLink()">Xem Chi Tiết</button>
    </div>
  </div>

