
.align-center {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
}

#googleID {
  text-align: center; /* Căn giữa nội dung văn bản */
}
